* {
    font-family:Arial, Helvetica, sans-serif;
}

.header-gradient {
    background-image: linear-gradient(
        to right,
        rgba(3, 4, 94) 0%,
        rgba(202, 240, 248) 100%
    );
}

.header-text {
    color:azure;
}

.card-title {
    margin-bottom: 0;
}

.card-text {
    margin: 10px;
    margin-top: 0;
}

.forecast-image {
    height: 90%;
}

.forecast-image-heading {
    margin-bottom: 0;
    height: 30%;
}

.uvi-low {
    color: azure;
    background-color: lightgreen;
    padding: 3px;
    border-radius: 5px;
}

.uvi-medium {
    color: azure;
    background-color: #ffd60a;
    padding: 3px;
    border-radius: 5px;
}

.uvi-high {
    color: azure;
    background-color: orange;
    padding: 3px;
    border-radius: 5px;
}

.uvi-very-high {
    color: azure;
    background-color: maroon;
    padding: 3px;
    border-radius: 5px;
}

.uvi-extremely-high {
    color: azure;
    background-color: purple;
    padding: 3px;
    border-radius: 5px;
}

#weather-uvi {
    margin-bottom: 10px;
}